@media screen and (min-width: 550px) {
  .pile-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (min-width: 900px) {
  .pile-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1280px) {
  .pile-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}